/* =======================================
    SOMMAIRE 
    
   || PARAMÈTRES PAR DÉFAUT
   || VARIABLES
   || POLICE
   || STYLE COMMUN
   || HEADER
   || MAIN/BODY (par page)
   || FOOTER
   || RESPONSIVE
======================================= */

 /* Chaque page est identifiée par la
    classe de son body (ex: body.nomdelaclasse);
 */


/* || PARAMETRES PAR DÉFAUT || */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input, button, textarea, hr {
    border: 0;
    outline: 0;
}

input, button, textarea {
    font-family: inherit;
}

/* || VARIABLES || */
:root {
    --color-green: #929f19;
    --color-orange: #e7820a;
    --color-yellow: #fab716;
    --color-brown: #52300f;
    --main-bg-color: #ffd79d;
    
}

/* || CLASSES JAVASCRIPT */

.linkedin-hover {
    border: 3px solid #0a66c2 !important;
    box-shadow: 0 0 5px #0a66c2;
}

.linkedin-logo-col {
     color: #0a66c2;
}

.instagram-hover {
    border: 3px solid #bc2a8d !important;
    box-shadow: 0 0 5px #bc2a8d;
}

.instagram-logo-col {
    color: #bc2a8d; 
}

.tiktok-hover {
    border: 3px solid #ff0050 !important;
    box-shadow: 0 0 5px #ff0050;
}

.tiktok-logo-col {
    color: #ff0050;
}

/* f.visible-mobile ne marcherait pas. CSS privilégie les sélecteurs les plus précis */
/* !important pourrait être aussi utilisée. */
.wrapper-footer-list ul.f-visible-mobile {
    overflow: visible;
    max-height: 300px; /* appliquer height ne marcherait pas car la hauteur serait fixée et il se peut que certains éléments prennent trop de place. On utilise max-height de telle manière à ce qu'on mette en place une taille qui ne va jamais être dépassée en permettant aux éléments d'avoir leur taille par défaut
    /* transition: all .5s ease-out; */
}

.f-transit-mobile {
    rotate: 180deg;
}

/* || POLICE || */
@font-face {
    font-family: 'AC Soft IceCream';
    src: url('../fonts/Aka-AcidGR-SoftIceCream.woff') format('woff'),
         url('../fonts/Aka-AcidGR-SoftIceCream.woff2') format('woff2');

}


@font-face {
    font-family: 'Montserrat';
    font-weight: 100 1000;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

/* || STYLE COMMUN || */
body {
    background-color: var(--main-bg-color, #ffd79d);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif
}

h1 {
    font-family: 'AC Soft Icecream';
    font-weight: 400;
}

.btn {
    display: inline-block;
}

/* || HEADER || */
header {
    padding: 1.5rem;
    background-color: var(--color-green, #929f19);
}

header nav {
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
}


nav .navigation-links a {
    color: #442a0f;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color .5s;
}

nav .navigation-links a:hover {
    color: var(--main-bg-color, #ffd79d);
}

header img {
    width: 130px;
    height: 130px;
    transition: .5s;
}

header img:hover {
    transform: scale(1.2);
}

header .navigation-links {
    display: flex;
    gap: 35px;
}

/* TODO: Check à quoi servent ses propriétés */
header .lang-form:has(.lang-desktop) {
    flex: 1;
    max-width: 250px;
}

/* Le code suivant a pour but de personnaliser le menu déroulant des langues */
/* Les sélecteurs utilisées ne sont pas compatibles pour tous les navigateurs et sont encores très nouvelles */

/* Cette propriété permet au select d'être personnalisable, et enlève tout style par défaut" */
nav .lang-desktop, 
.lang-desktop::picker(select) {
    appearance: base-select;
}


/* Le select correspond à l'élément qui va posséder la valeur et afficher la liste déroulante */
.lang-form select {
    display: flex;
    align-items: center; /* le ::picker n'était pas centré. */
    background-color: #F5F2E8;
    border: 1px solid #dddddd;
    padding: 1.1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    transition: background-color .4s;
}

.lang-destkop {
    width: 100%;
}

/* Survols */
.lang-form select:hover,
.lang-form select:focus {
    background-color: #dddddd;
}

/* Correspond à la liste déroulante (toutes les options) */
.lang-form ::picker(select) {
    border-radius: 5px;
    border: 0; 
}

::picker-icon {
    color: rgba(0, 0, 0, .4);
}

/* Correspond à chaque option individuelle */
.lang-form option {
    display: flex;
    background-color: #F5F2E8;
    border: 1px solid #dddddd;
    padding: 1rem;
    transition: .5s;
}

/* Drapeaux */
.lang-form selectedcontent {
    font-size: 1.05rem;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

/* selectedcontent correspond à l'élément actuellement sélectionné dans le select */
.lang-form selectedcontent svg{
    width: 30px;
    height: 30px;
}

/* Drapeaux */
.lang-form option svg {
    width: 30px;
    height: 30px;
}


.lang-form option:nth-of-type(odd) {
    background-color: #e7e5dc;
}

.lang-form option:not(option:last-of-type) {
    border-bottom: 0;
}

/* Gérer l'arrondissement des coins pour les premières et dernières options */
.lang-form option:first-of-type {
    border-radius: 5px 5px 0 0;
}

.lang-form option:last-of-type {
    border-radius: 0 0 5px 5px;
}

/* Survols */
.lang-form option:hover,
.lang-form option:focus {
    background-color: var(--color-orange, #e7820a);
}

.lang-form option::checkmark {
    padding: 0 .3rem;
    color: rgba(0, 0, 0, .7);
    border: 2px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    order: 3;
}

/* picker-icon correspond au chevron */
/* Transitions */
.lang-form ::picker-icon {
    transition: rotate .6s;
}

.lang-form select:open::picker-icon {
    rotate: 180deg;
}

.lang-form option:checked {
    font-weight: 700;
}

/* FIN FORMULAIRE HEADER */

/* Hamburger */
.hamburger-menu svg.hamburger{
    width: 40px;
    height: 40px;
}

.hamburger-menu,
.navigation-mobile {
    display: none;
}

/* || CONTACTEZ-NOUS ||  */

body.contact-page main {
    margin: 2.8rem 0; /* valeur originale 2.2 */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.inquiries-wrapper p {
    font-size: 1.2rem;
}

.inquiries-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 30px;
}

.inquiries-wrapper svg {
    width: 27px;
    height: 27px;
}

.inquiries-wrapper h2 {
    display: flex;
    gap: 8px;
    text-transform: uppercase;
    letter-spacing: .4rem;
}

.inquiries-wrapper strong {
    font-weight: normal;
}

.inquiries-link ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.inquiries-link a {
    color: #442a0f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* création d'un cercle (bordure autour des liens) */
    height: 60px;
    border: 3px solid #bf9f71;
    border-radius: 50%;
    transition: all 1s; /* transition bordure */
}

.inquiries-link a svg {
    transition: .8s; /* transition color */
}

.form-wrapper {
    width: 100%;
    max-width: 600px;
}

.form-wrapper h2 {
    text-align: center;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.form-wrapper form .name-row {
    display: flex; 
    gap: 60px;

}

.name-row .name-column {
    gap: 20px;
}

.required-star {
    color: #e21717;
}

.form-wrapper form .btn-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* On aurait pu mettre un width dans les bouttons pour les agencer. 
   mais on aurait dû selectionenr une largeur qui ne fait pas dépasser les éléments l'un sur l'autre 

   Il est donc mieux de créer un conteneur flex, et d'utiliser flex-grow, afin que les éléments prennent la place restante automatiquement. 
*/

.btn-row button {
    flex: 1 1 0; /* flex-grow: 1; flex-shrink: 1; flex-basis: 0; */
    display: inline-block;
    font-weight: 500; 
    /* text-transform: uppercase;
    letter-spacing: 3px; */
    padding: .95rem .2rem;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.btn-row button:first-of-type {
    background-color: var(--color-green, #929f19);
}

.btn-row button:last-of-type {
    background-color: #FF4D4D;
}

.btn-row button {
    transition: background-color .3s;
}

.btn-row button:first-of-type:hover {
    background-color: #7b851f;

}

.btn-row button:last-of-type:hover {
    background-color: #bc4646;
}

.btn-row button:hover {
    color: rgba(255, 255, 255, 0.779);
}

.name-row .name-column {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.form-wrapper input, textarea {
    border: 2.2px solid #bcc7d9 /*#dbe3f0*/;
    padding: 1rem;
    border-radius: 5px;
    font-weight: 500;
    transition: border-color .5s, background-color .3s;
}

.form-wrapper input, 
.form-wrapper textarea, 
.form-wrapper button {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
    border-color: var(--color-orange, #e7820a);
    background-color: rgb(245, 245, 245);
}

.form-wrapper textarea {
    max-width: 100%; /* Le textarea ne dépassera jamais la taille de son conteneur parent */
}

/* || FOOTER ||  */

footer {
    font-size: 1.2rem;
    color: var(--color-brown, #52300f);
    padding: 4rem;
    background-color: var(--color-green, #929f19);
}

footer a {
    color: #442a0f;
}

.wrap-footer h3 {
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.wrap-footer ul {
    white-space: nowrap;
}

.wrap-footer h3 i {
    display: none;
}

.wrap-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    padding: 1rem;
}

.wrap-footer li {
    margin-top: 17px;
    font-weight: 500; /* certains <li> ne contiennent pas de <a> */
}


.wrap-footer .footer-section {
    flex: 1; /* chaque paragraphe occupera équitablement l'espace supplémentaire */
}

.footer-section svg.caretdown {
    display: none;
    width: 40px;
    height: 40px;
}

.footer-section svg {
    width: 27px;
    height: 27px;
}

.wrap-footer a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.wrap-footer .footer-links li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border: 2px solid var(--color-brown);
    border-radius: 50%;
    transition: background-color .5s, color .5s, transform 1s;
}

.footer-social a:hover {
    color: white;
    background-color: var(--color-brown);
    transform: rotate(180deg);
}

.footer-social a svg {
    width: 30px;
    height: 30px;
}

footer hr {
    height: 2px;
    width: 90%;
    margin: 60px auto;
    background-color: var(--color-brown);
}

footer p {
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
}

/* || RESPONSIVE || */
/* Le responsive est agencé en fonction des différents éléments. */
/* Les breakpoints (taille choisie) dépendent d'à partir de quand les éléments deviennent "cassés". */

@media screen and (max-width: 1095px) {
    body.contact-page main {
        gap: 90px;
    }
}


/* HEADER */
@media screen and (max-width: 1130px) {
    header {
        position: relative;
    }
    
    header nav {
        justify-content: space-between;
    }

    nav .navigation-links,
    nav .lang-form:has(.lang-desktop) {
        display: none;
    }

    .hamburger-menu,
    .navigation-mobile {
        display: block;
    }

    .hamburger-menu {
        cursor: pointer;
        color: var(--color-brown);
        background-color: var(--color-green);
        transition: color .5s;
    }

    .hamburger-menu:hover {
        color: var(--main-bg-color, #ffd79d);;
    }

    .navigation-mobile {
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        height: 100%;
        background-color: white;
        padding-top: 5rem;
        transition: width .5s;
        overflow: hidden; /* propriété obligatoire pour cacher la croix. */
    }
    
    .navigation-mobile a {
        color: white;
        white-space: nowrap; /* pas de retour à la ligne */
        font-weight: 600;
        font-size: 1.3rem;
        padding: 0 2.2rem; /* 2rem */
        transition: .3s;
    }

    .navigation-mobile li {
        margin-bottom: 60px;
    }

    .navigation-mobile a,
    .navigation-mobile .close-menu {
        color: #0d0d0d;
    }

    .navigation-mobile a:hover,
    .navigation-mobile .close-menu:hover {
        color: #898989;
    }

    .navigation-mobile .close-menu {
        background-color: white;
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 3rem;
        cursor: pointer;
        transition: color .2s;
    }

    .lang-form .lang-mobile {
        display: block;
        width: 95%;
        margin: 0 auto;
    }
}



/*----------------------------------------------
   PAGE : MADOUDHISTOIRE (A-PROPOS)
----------------------------------------------*/
body.a-propos {
    background-color: var(--main-bg-color, #fdf8f0); 
    overflow-x: hidden; 
}

body.a-propos main.a-propos-madoudinette {
    font-family: Arial, sans-serif;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #333;
}

/* TITRE PRINCIPAL */
body.a-propos .a-propos-madoudinette .intro {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 25px auto;
}

body.a-propos .a-propos-madoudinette .intro h1 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 5px; 
}

body.a-propos .a-propos-madoudinette .intro p {
    font-size: 16px;
    color: #777;
}

/* --- BANNIÈRE ALIGNÉE --- */
body.a-propos .a-propos-madoudinette .section-banniere-image {
    max-width: 950px; 
    margin: 0 auto 35px auto;
    padding: 0 20px; 
    height: 250px; 
    overflow: hidden; 
}

body.a-propos .a-propos-madoudinette .section-hero-image img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block;
}


/* --- STYLES Section 1 et 2 --- */
body.a-propos .a-propos-madoudinette .section {
    max-width: 950px;
    margin: 0 auto 35px auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
}

/* --- IMAGE SECTION 1 & 2 --- */
body.a-propos .a-propos-madoudinette .section img {
    width: 45%; 
    height: auto;
    max-height: none; 
    object-fit: contain; 
    display: block;
    box-shadow: none;
}

body.a-propos .a-propos-madoudinette .section .text {
    width: 55%; 
    height: auto;
    padding: 0; 
    background-color: transparent; 
    box-shadow: none;
}

/* STYLES DES TEXTES */
body.a-propos .a-propos-madoudinette .section h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

body.a-propos .a-propos-madoudinette .section p {
    font-size: 16px;
    line-height: 1.5; 
}

/* SECTION FINALE */
body.a-propos .a-propos-madoudinette .section-final {
    max-width: 950px;
    margin: 35px auto 0 auto;
    text-align: center;
}

body.a-propos .a-propos-madoudinette .section-final h2 {
    margin-bottom: 40px;
    margin-top:40px;
    font-size: 32px;
    font-weight: 700;
}


/* ---- PAGE FAQ ---- */
main {
    padding-top: 100px;
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color, #fdf8f0); 
}

/* ---- BANNIÈRE ---- */
.faq-page .faq-banner {
    background: black;
    padding: 40px 20px;
    text-align: center;
    border-radius: 0 0 40px 40px;
    position: relative; 
    top: -120px;    
    width: 800px;
    margin: 20px auto;
    

}
.faq-banner h1, .faq-banner p {
  color: white;
}


.faq-page .lang-switch {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.faq-page .lang-btn {
    border: none;
    background: #ffe6cc;
    padding: 8px 20px;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.faq-page .lang-btn.active {
    background: #ffb366;
    color: white;
}



/* ---- LES REPONSES-QUESTION ---- */
.faq-page .faq-grid {
    max-width: 900px;
    margin: auto;
    display: grid;
    gap: 18px;
    position:relative;
    top:-90px;
}

.faq-page details {
    background: white;
    border-radius: 16px;
    border: 2px solid #d7a277;
    padding: 15px 20px;
    transition: 0.3s ease;
}

.faq-page details:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
}

.faq-page summary {
    font-size: 1.12rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-page summary::-webkit-details-marker {
    display: none;
}

.faq-page details[open] summary i {
    transform: rotate(180deg);
}

.faq-page details p {
    margin-top: 12px;
    line-height: 1.5;
    font-size: 0.95rem;
    color: #555;
}

.dernier {
  padding-bottom: 50px;
}


/* FOOTER */
@media screen and (max-width: 900px) {
    .wrap-footer {
        flex-direction: column;
        align-items: stretch; /* stretch permettra aux éléments flex de prendre toute la largeur sur l'axe secondaire (ici verticale, les éléments vont s'étirer horizontalement. align-items: flex-start n'aurait pas eu cet effet */
    }

    .wrap-footer h3 {
        display: flex;
        align-items: center;
        justify-content: space-between; /* espacé le caret du texte */
        width: 100%; /* prends 100% de la taille du parent */
        cursor: pointer;
        transition: color .3s;
    }

    .footer-section h3 svg.caretdown {
        display: block;
        transition: rotate .4s, color .3s;
    }

    .wrap-footer h3:hover svg,
    .wrap-footer h3:hover {
        color: var(--color-yellow);
    }
    
    
    .wrap-footer ul {
        overflow: hidden;
        max-height: 0;
        transition: max-height .4s ease-out;
    }

    .wrap-footer li {
        margin-top: 40px;
    }
    

    .wrapper-footer-list {
        border-bottom: 1px solid #c4c4c4bd;
        padding-bottom: 2rem;
    }

    .wrap-footer a {
        transition: color .3s;
    }

    .wrap-footer a:hover {
        text-decoration: none;
        color: var(--color-yellow);
    }
    
}
