/* Header */
header {
  padding: 1.5rem;
  background-color: var(--color-green, #929f19);
}

header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


nav .navigation-links a {
  color: #442a0f;
  font-size: 1.3rem;
  font-weight: 500;
  transition: color .5s;
}

nav .navigation-links a:hover {
  color: var(--main-bg-color, #ffff);
}

header img {
  width: 130px;
  height: 130px;
  transition: .5s;
}

header img:hover {
  transform: scale(1.2);
}

header .navigation-links {
  display: flex;
  gap: 35px;
}

/* Haut de page */

.Titre-principale {
	color : #52300f;
	text-align : center;
	display : block;
  font-weigth : bold;
}

.faq-banner {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #ffe3b3, #ffd095);
  border-radius: 12px;
  width : 800px;
  margin: 20px auto;
}

/* Corp page */
main{
	background-color : #fff;
}

/* Style FAQ */
.faq {
	max-width : 700px;
	margin : 40px auto;
	padding : 0px;
	background-color : #ffff;
	border : 2px solid #52300f;
	border-radius : 5px;
	box-shadow : 0 4px 12px rgba(0, 0, 0, 0.1);
	color : #52300f;
	font-family : Montserrat, Arial;
}

span {
  font-weight : bold;
}


.faq summary {
	font-weight : bold;
}

.faq details {
	border : 1.5px solid #52300f ;
	padding : 12px 12px;
	cursor : pointer;
}

/* Hover faq */
.carte-faq:hover {
  background-color: #52300f;
  color: #fff;
  border-color: #52300f;
}

/* Changement liés au hover */
.carte-faq:hover summary,
.carte-faq:hover summary::after,
.carte-faq:hover p {
  color: #fff;
}



.faq-grid {
  display: grid;
  gap: 20px;
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
}

/* Style carte */
.carte-faq {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border: 2px solid #52300f;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
}

.carte-faq {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #52300f;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Style du titre (summary) */
.carte-faq summary {
  list-style: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  padding-right: 30px;
}

/* Carte FAQ : Icône + */
.carte-faq summary::after {
  content: "+";
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 1.5rem;
  color: #52300f;
  transition: 0.2s ease;
}

/* Change icone quand ouvert */
.carte-faq[open] summary::after {
  content: "-";
  color: #52300f;
}

/* Contenu */
.carte-faq p {
  margin-top: 10px;
  line-height: 1.5;
}
